.parallax_mirror {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $black url(../../../assets/img/bottom.jpg) fixed no-repeat top
    center;
  background-size: cover;
}
