// SLIDER

#{$titleClass}.slider-title {
  &:after {
    height: 22px;
  }
}

.slider {
  &-container {
    // display: block;
    display: flex;
    height: 750px;
  }

  &-demo,
  &-text_wrap,
  &-nav {
    width: 50%;
  }

  // &-demo,
  // &-nav {
  //   float: right;
  // }

  &-demo {
    order: 1;
    height: 525px;
  }

  &-text_wrap {
    // float: left;
    @include padding("221px 100px 0");
    size: 50% 100%;
  }

  &-desc {
    @include padding("14px * 54px");
  }

  // &-btn {
  //   padding: 0 19px;
  //   height: 40px;
  //   line-height: 38px;

  //   &_icon {
  //     font-size: 22px/38px;
  //   }

  //   &_text {
  //     margin-left: 11px;
  //   }
  // }

  &-nav {
    @include position("absolute * 0 0 *");
    margin-left: 50%;
    height: 225px;
  }

  &-arrow {
    line-height: 225px;
  }
}

// REVIEWS

.reviews {
  justify-content: center;
  @include padding("33px * 66px");
  // height: 555px;

  &-title_wrap {
    @include padding("25px * 47px");

    // .title_wrap-bg {
    //   height: 105%;
    //   transform: translate(0, -7px) rotate(26deg);
    // }

    // &-title {
    //   padding-bottom: 3px;
    //   line-height: 42px;
    // }
  }

  &-article {
    $elem: &;

    @include padding("16px * *");

    &#{$elem}--first {
      margin-left: 200px;
    }
  }

  &-quote {
    top: 82px;
  }

  &-img_wrap {
    size: 77px;
  }

  &-text_wrap {
    padding-top: 17px;
  }

  &-desc {
    padding-bottom: 16px;
    line-height: 26px;
  }
}

// FEEDBACK FORM

#{$titleClass}.feedback_form-title {
  padding-bottom: 30px;

  &:after {
    height: 22px;
  }
}

.feedback_form {
  // padding-top: 11px;
  @include padding("14px * *");
  width: 380px;
  // height: 459px;

  // &-title {
  //   padding-bottom: 12px;

  //   &:after {
  //     border-bottom-color: $white;
  //   }
  // }

  &-text_input {
    border-width: 0;
  }
}
