// SLIDER

.slider {
  $block: &;

  background-color: #f2f0e8;

  &-demo {
    height: 529px;
  }

  &-img_wrap {
    size: 249px 336px;

    &--side {
      @include margin('* 31px');
    }

    &--center {
      size: 274px 369px;
    }
  }

  &-img--in_arrow {
    font-size: inherit;
  }

  &-text_wrap {
    @include padding('20px * 30px');
    height: 270px;
  }

  &-desc {
    @include padding('13px * 25px');
  }

  &-btn_icon {
    line-height: 43px;
  }

  &-nav {
    height: 215px;
  }

  &-arrow {
    line-height: 199px;

    #{$block}-img_wrap {
      size: 52px 69px;

      &--side {
        @include margin('* 6px');
      }

      &--center {
        size: 57px 76px;
      }
    }
  }
}

// REVIEWS

.reviews {
  @include padding('16px * 43px');
  // height: 455px;

  &-title_wrap {
    @include padding('22px * 42px');

    .title_wrap-bg {
      height: 105%;
      transform: translate(0, -7px) rotate(26deg);
    }

    // .title_wrap-title {
    //   padding-top: 0;
    //   line-height: 42px;
    // }
  }

  // &-title {
  //   padding-bottom: 3px;
  //   line-height: 42px;
  // }

  &-article {
    // margin-top: -10px;
    @include padding('0 * *');
  }

  &-quote {
    // top: 71px;
    left: 12px;
  }

  &-img_wrap {
    size: 77px;
  }

  &-text_wrap {
    padding-top: 15px;
  }

  &-desc {
    padding-bottom: 8px;
  }
}

// FEEDBACK FORM

.feedback_form {
  @include padding('18px * *');
  width: 348px;
  // height: 439px;

  // &-title {
  //   padding-bottom: 12px;
  // }

  // &-row {
  //   height: 45px;
  // }

  &-menu {
    .menu-link {
      @include padding('* 36px * 37px');
      @include oneLineBlock(45px, 1px);
    }
  }
}
