// SLIDER

.slider {
  $animHeight: 100%;

  width: 100%;
  background-color: #f2f0e8;

  &-container {
    position: relative;
    // height: 569px;
    min-width: 300px;
  }

  &-item,
  &-arrow {
    background: center center no-repeat;
  }

  &-demo,
  &-nav {
    width: 100%;
  }

  &-demo {
    $height: 257px;

    position: relative;
    height: $height;
    background-color: #e3e2de;
    overflow: hidden;

    &_item {
      font-size: 40px;
      padding: 40px;

      // &_number {
      //   font-size: 150px /#{$height};
      // }
    }
  }

  &-item {
    @include position('absolute 0 * * 0');
    size: 100%;
    text-align: center;
    color: $red;
    // background: $black;
    // background-size: cover;

    &_number {
      @include position('absolute 0 * * 0');
      z-index: 1;
      size: 100%;
    }
  }

  &-img {
    @include position('absolute 50% * * 50%');
    display: block;
    font-family: $mainFont;
    line-height: 1;
    transform: translate(-50%, -50%);

    &--in_arrow {
      font-size: 28px;
    }
  }

  &-text_wrap {
    // @include padding("5px * 30px");
    padding-top: 5px;
    // height: 219px;
  }

  &-title {
    // padding-top: 28px;
    // height: 103px;

    &:after {
      transition: all $trsTime;
    }
  }

  &-desc {
    @include padding('5px * 12px');
    font-weight: 500;
    color: #243994;
  }

  &-btn {
    display: table;
    // @include margin("12px auto *");
    @include margin('* auto 30px');
    padding: 0 19px;
    height: 40px;
    line-height: 38px;

    &_icon {
      float: left;
      size: auto 100%;
      font-size: 22px/38px;
    }

    &_text {
      float: right;
      margin-left: 11px;
    }
  }

  &-nav {
    height: 93px;
  }

  &-arrow {
    position: relative;
    float: left;
    size: 50% 100%;
    font-size: 50px/85px;
    text-decoration: none;
    overflow: hidden;

    // &_number {
    //   font-size: 90px/93px;
    // }

    &:before {
      position: absolute;
      z-index: 2;
      display: block;
      size: 100%;
      color: $white rgba(#aaabb7, 0.7);
      transition: background-color $trsTime;
    }

    // &--prev {
    //   background-image: url("../../../assets/userfiles/prev.jpg");
    // }

    // &--next {
    //   background-image: url("../../../assets/userfiles/next.jpg");
    // }

    &:hover:before,
    &:focus:before {
      background-color: rgba(#7e7f8a, 0.7);
    }
  }

  &--scroll_down {
    &-enter-active,
    &-leave-active {
      transition: top $trsTime;
    }

    &-enter {
      top: $animHeight;
    }

    &-leave-to {
      top: -$animHeight;
    }
  }

  &--scroll_up {
    &-enter-active,
    &-leave-active {
      transition: top $trsTime;
    }

    &-enter {
      top: -$animHeight;
    }

    &-leave-to {
      top: $animHeight;
    }
  }
}

// REVIEWS

.reviews {
  display: flex;
  flex-wrap: wrap;
  @include padding('8px * 32px');
  // height: 614px;
  color: $white;

  &-title_wrap {
    @include padding('21px * 3px');

    .title_wrap-bg {
      height: 90px;
      transform: translate(-3px, 11px) rotate(26deg);
    }

    .title_wrap-title {
      padding-top: 0;
      // line-height: 42px;
    }
  }

  &-article {
    position: relative;
    @include padding('32px * *');
  }

  &-quote {
    @include position('absolute 71px * * 0');
    font-size: 83px;
    color: rgba($white, 0.1);
  }

  &-img_wrap {
    margin: 0 auto;
    border-radius: 50%;
    size: 51px;
  }

  &-text_wrap {
    padding-top: 11px;
    font-style: italic;
  }

  &-desc {
    padding-bottom: 7px;
    text-align: left;
  }

  &-author,
  &-status {
    display: block;
    text-align: center;
  }

  &-author {
    font-weight: bold;
  }
}

// FEEDBACK FORM

#{$titleClass}.feedback_form-title {
  padding-bottom: 20px;

  &:after {
    border-bottom-color: $white;
  }
}

.feedback_form {
  position: relative;
  // padding-top: 11px;
  @include padding('11px * *');
  width: 300px;
  // height: 422px;
  color: $white rgba(#dadbd6, 0.05);

  // &-row {
  //   height: 40px;
  // }

  &-text_input {
    @include oneLineBlock(40px);
    border-width: 0;
    color: rgba($white, 0.5) rgba($white, 0.07);
  }

  &-menu {
    .menu-link {
      @include oneLineBlock(43px, 1px);
      @include padding('* 36px * 37px');
    }
  }
}
