.authorization {
  @include position("absolute 10px 50% * *");
  // height: 40px;
  // line-height: 38px;
  @include oneLineBlock(40px);
  transform: translateX(50%);

  // &-hidden {
  //   display: none;
  // }
}

#{$titleClass}.login_form__title {
  // @include padding("40px * 38px");
  padding-bottom: 38px;
}

.login_form {
  $block: &;

  color: $white;

  &__top_wrap {
    padding-top: 17px;
  }

  &__title {
    font-size: 30px;
  }

  &__radio {
    // &_wrap {
    //   padding-bottom: 8px;
    // }

    &_yes {
      font-weight: 500;
    }
  }

  #{$headerMenuClass}#{$block}__menu {
    // padding-top: 0;

    .menu__link {
      @include padding("* 41px");

      &:first-child {
        @include padding("* 40px * 41px");
      }
    }

    // .menu__link {
    //   @include padding("* 41px");
    // }
  }
}
