// SLIDER

.slider {
  $demoHeight: 257px;
  $navHeight: 93px;

  background-color: #f2f0e8;

  &__container {
    position: relative;
    // height: 569px;
  }

  &__item,
  &__arrow {
    background: center center no-repeat;
  }

  &__demo,
  &__nav {
    width: 100%;
  }

  &__demo {
    position: relative;
    height: $demoHeight;
    background-color: #e3e2de;
    overflow: hidden;

    &_item {
      font-size: 40px;
      padding: 40px;

      &_number {
        font-size: 150px/257px;
      }
    }
  }

  &__item {
    @include position("absolute 0 * * 0");
    size: 100%;
    text-align: center;
    color: $red;
    // background: $black;
    // background-size: cover;

    &-scroll_down {
      &-enter-active,
      &-leave-active {
        transition: margin-top $trsTime;
      }

      &-enter {
        margin-top: $demoHeight;
      }

      &-leave-to {
        margin-top: -$demoHeight;
      }
    }

    &-scroll_up {
      &-enter-active,
      &-leave-active {
        transition: top $trsTime;
      }

      &-enter {
        top: -$demoHeight;
      }

      &-leave-to {
        top: $demoHeight;
      }
    }

    &_number {
      @include position("absolute 0 * * 0");
      z-index: 1;
      size: 100%;
    }
  }

  &__text_wrap {
    @include padding("5px * 30px");
    // height: 219px;
  }

  &__title {
    // padding-top: 28px;
    height: 103px;

    &:after {
      transition: all $trsTime;
    }
  }

  &__desc {
    @include padding("5px * 12px");
    font-weight: 500;
    color: #243994;
  }

  &__btn {
    display: table;
    // @include margin("12px auto *");
    @include margin("* auto");
    padding: 0 19px;
    height: 40px;
    line-height: 38px;

    &_icon {
      float: left;
      size: auto 100%;
      font-size: 22px/38px;
    }

    &_text {
      float: right;
      margin-left: 11px;
    }
  }

  &__nav {
    height: $navHeight;
  }

  &__arrow {
    position: relative;
    float: left;
    size: 50% 100%;
    font-size: 50px/85px;
    text-decoration: none;
    overflow: hidden;

    &-scroll_down {
      &-enter-active,
      &-leave-active {
        transition: margin-top $trsTime;
      }

      &-enter {
        margin-top: $navHeight;
      }

      &-leave-to {
        margin-top: -$navHeight;
      }
    }

    &-scroll_up {
      &-enter-active,
      &-leave-active {
        transition: top $trsTime;
      }

      &-enter {
        top: -$navHeight;
      }

      &-leave-to {
        top: $navHeight;
      }
    }

    &_number {
      font-size: 90px/93px;
    }

    &:before {
      position: absolute;
      z-index: 2;
      display: block;
      size: 100%;
      color: $white rgba(#aaabb7, 0.7);
      transition: background-color $trsTime;
    }

    // &-prev {
    //   background-image: url("../../../assets/userfiles/prev.jpg");
    // }

    // &-next {
    //   background-image: url("../../../assets/userfiles/next.jpg");
    // }

    &:hover:before,
    &:focus:before {
      background-color: rgba(#7e7f8a, 0.7);
    }
  }
}

// REVIEWS

.reviews {
  @include padding("8px * 32px");
  // height: 614px;
  color: $white;

  &__title_wrap {
    @include padding("21px * 3px");

    .title_wrap__bg {
      height: 90px;
      transform: translate(-3px, 11px) rotate(26deg);
    }

    .title_wrap__title {
      padding-top: 0;
      line-height: 42px;
    }
  }

  &__article {
    position: relative;
    @include padding("32px * *");
  }

  &__quote {
    @include position("absolute 71px * * 0");
    font-size: 83px;
    color: rgba($white, 0.1);
  }

  &__img_wrap {
    margin: 0 auto;
    border-radius: 50%;
    size: 51px;
  }

  &__text_wrap {
    padding-top: 11px;
    font-style: italic;
  }

  &__desc {
    padding-bottom: 7px;
    text-align: left;
  }

  &__author,
  &__status {
    display: block;
    text-align: center;
  }

  &__author {
    font-weight: bold;
  }
}

// FEEDBACK FORM

#{$titleClass}.feedback_form__title {
  padding-bottom: 20px;

  &:after {
    border-bottom-color: $white;
  }
}

.feedback_form {
  // padding-top: 11px;
  @include padding("11px * *");
  width: 300px;
  // height: 422px;
  color: $white rgba(#dadbd6, 0.05);

  // &__row {
  //   height: 40px;
  // }

  &__text_input {
    @include oneLineBlock(40px);
    border-width: 0;
    color: rgba($white, 0.5) rgba($white, 0.07);
  }

  &__menu {
    .menu__link {
      @include oneLineBlock(43px, 1px);
      @include padding("* 36px * 37px");
    }
  }
}
