.nav {
  display: block;

  &-item {
    border-top: 2px solid $white;

    &:first-child {
      border-top-width: 0;
    }
  }

  &-link {
    border-width: 0;
    @include oneLineBlock(45px);
    color: $grey #f0efe9;
    transition: color $trsTime, background-color $trsTime;

    &:hover,
    &--active {
      color: $blue $white;
    }
  }
}
