form {
  width: 100%;
}

.form {
  $block: &;

  &-row {
    &--buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include margin("10px * 30px");
    }
  }

  &-col {
    float: left;
  }

  &-wrap {
    $elem: &;

    // #{$block}-label {
    //   width: auto;
    // }

    // &--icon_label {
    //   #{$block}-row {
    //     display: flex;
    //     flex-wrap: wrap;
    //   }

    //   #{$block}-input {
    //     flex-grow: 1;
    //   }

    //   #{$block} {
    //     &-label,
    //     &-input {
    //       float: left;
    //     }
    //   }
    // }

    &--icon_label,
    &--text,
    &--number {
      #{$block}-input {
        @include oneLineBlock(45px, 1px);
      }
    }

    &--number {
      #{$block} {
        // &-label,
        // &-measure {
        //   line-height: 32px;
        // }

        &-input,
        &-measure {
          float: left;
        }

        &-label {
          @include padding("* 20px");
          width: 124px;
        }

        &-input {
          // @include padding("* 0");
          // width: 46px;
          width: 276px;
          // @include oneLineBlock(32px, 1px);
          // text-align: center;
        }

        &-measure {
          // @include padding("* 11px");
          padding-left: 11px;
          width: 24px;
          @include oneLineBlock(45px);
        }
      }
    }

    &--textarea {
      #{$block}-input {
        @include padding("9px *");
        height: 249px;
        line-height: 24px;
      }
    }

    &--icon_label {
      #{$block} {
        &-row {
          display: flex;
          flex-wrap: wrap;
        }

        &-label,
        &-input {
          float: left;
        }

        &-label {
          size: 45px;
          text-align: center;
          color: #c4cbcd #f0efe9;

          // &:before {
          //   font-size: 45px;
          //   content: "";
          // }
        }

        &-icon {
          size: 17px 100%;
          fill: #c4cbcd;
        }

        &-input {
          flex-grow: 1;
          width: auto;
          color: rgba(#373e42, 0.5) $white;
        }
      }
    }

    &--checkbox,
    &--radio {
      // height: 20px;
      font-size: 16px;

      #{$block} {
        &-label:before,
        &-checkbox_text {
          float: left;
        }

        &-input {
          display: none;
        }

        &-label {
          position: relative;
          cursor: pointer;

          &:before {
            display: block;
            size: 20px;
            content: "";
          }
        }

        &-checked {
          position: absolute;
          opacity: 0;
          transition: opacity 0.5s;
        }

        &-input:checked + #{$block}-checked {
          opacity: 1;
        }
      }
    }

    &#{$elem}--checkbox {
      // @include margin("* auto 15px");
      line-height: 18px;

      #{$block} {
        &-label {
          display: table;
          @include margin("* auto");
          width: auto;

          &:before {
            border-radius: 2px;
            background: $darkBlue;
          }
        }

        &-checkbox_text {
          padding-top: 2px;
          margin-left: 11px;
        }

        &-checked {
          size: 20px;
          font: 11px/20px FontAwesome;
          text-align: center;
          // color: $white;

          &:before {
            display: block;
            content: "\f00c";
          }
        }
      }
    }

    &--radio {
      line-height: 20px;

      #{$block}-label:before,
      #{$block}-checked {
        border-radius: 50%;
      }

      #{$block} {
        &-label {
          @include margin("* auto");
          @include padding("* 20px");
          width: auto;

          &:before {
            background-color: $white;
          }
        }

        &-checkbox_text {
          margin-left: 9px;
        }

        &-checked {
          @include position("absolute 6px * * 26px");
          size: 8px;
          background-color: $darkBlue;
        }
      }
    }
  }

  &-label,
  &-input {
    display: block;
    width: 100%;
  }

  &-legend {
    font-size: 16px;
  }

  &-label {
    height: 100%;
  }

  &-input {
    border: 1px solid $white;
    outline-width: 0;
    outline-style: solid;
    transition: border, background-color $trsTime;
    // transition: outline, background-color $trsTime;

    &:active,
    &:focus {
      border-color: $blue;
      // outline-color: $blue;
    }

    &--required {
      &,
      &:active,
      &:focus {
        border-color: $orange;
        // outline-color: $orange;
      }
    }

    &--error {
      &,
      &:active,
      &:focus {
        border-color: $red;
        // outline-color: $red;
      }
    }

    &--valid {
      &,
      &:active,
      &:focus {
        // border-color: forestgreen;
        border-color: $blue;
        // outline-color: $blue;
      }
    }
  }

  &-menu {
    .menu-link {
      font-size: 16px;
      cursor: pointer;
    }
  }

  &-popup {
    color: $white $blue;

    &--error {
      background-color: $red;
    }
  }

  &-error_wrap {
    size: 100% 20px;
  }

  &-error {
    @include padding("* 10px");
    font-size: 14px/20px;
  }

  &-btn {
    $elem: &;

    @include oneLineBlock(40px, 1px);
    cursor: pointer;

    &#{$elem}--danger {
      border-color: $red;
      background-color: $red;
    }

    &#{$elem}--disabled {
      opacity: 0.5;
    }
  }
}
