.preloader {
  $block: &;
  $svgHeight: 63.73px;
  $circleLength: 156;
  $center: 37.438px;

  transition: opacity 0.5s;

  &-container {
    size: $center * 2;
  }

  &-center_circle,
  &-satellite_circle {
    cx: $center;
    transform-origin: $center $center;
  }

  &-center_circle {
    stroke-width: 2.5864;
    stroke-dasharray: 0 $circleLength;
    cy: $center;
    r: 25px;
  }

  &-satellite_circle {
    cy: 4.5px;
    r: 4.5px;
  }

  &-counter {
    font: 24px $reserveFonts;
  }

  @for $prs from 1 through 100 {
    &#{$block}--prs_#{$prs} {
      #{$block} {
        &-center_circle {
          @include percentsToCircleLength($prs, $circleLength);
        }
      }
    }
  }
}
