.preloader {
  $block: &;
  $circleLength: 106.811;
  $center: 25px;

  @include position('fixed 0');
  z-index: 100000;
  // color: $white rgba(#253468, 0.87);
  color: $white #253468;
  opacity: 0;
  transition: opacity 1s;

  &-container {
    @include position('absolute 50% * * 50%');
    // @include position("absolute 229px * * 50%");
    size: $center * 2;
    transform: translate(-50%);
    // 66,7770714247556
    // counter-reset: prs - 1;
  }

  &-circles {
    // size: 52.586px $svgHeight;
    size: 100%;
  }

  &-center_circle,
  &-satellite_circle {
    cx: $center;
    transform-origin: $center $center;
    transition: all $trsTime;
  }

  &-satellite_circle {
    fill: $white;
    cy: 3px;
    r: 3px;
    // cy: 6,009936428228004%;
    // r: 6,009936428228004%;
    // transform: rotate(720deg);
  }

  &-center_circle {
    fill: none;
    stroke: $white;
    stroke-width: 2;
    stroke-dasharray: 0 $circleLength;
    // stroke-width: 3,454244350659757%;
    stroke-miterlimit: 10;
    cy: $center;
    r: 17px;
    // r: 33,3885357123778%;
    transform: rotate(-90deg);
  }

  &-counter {
    @include position('absolute 50% * * *');
    // margin-top: -47px;
    width: 100%;
    font-family: $reserveFonts;
    text-align: center;
    transform: translateY(-50%);

    // &:before {
    //   content: counter(prs);
    //   transition: counter-increment $trsTime;
    // }
  }

  &#{$block}--active {
    opacity: 1;
  }

  @for $prs from 1 through 100 {
    &#{$block}--prs_#{$prs} {
      #{$block} {
        &-satellite_circle {
          transform: rotate(#{$prs * 7.2}deg);
        }

        &-center_circle {
          @include percentsToCircleLength($prs, $circleLength);
        }

        &-counter:before {
          counter-increment: prs #{$prs};
        }
      }
    }
  }
}
