@include fonts(FontAwesome);
// @include fonts('Roboto');
// @include fonts('Roboto', 300);
// @include fonts('Roboto', 500);
@include fonts(SansusWebissimo);

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');

.font {
  color: $darkBlue;
}
