body {
  background-color: $white;
}

.main {
  background: url('../assets/img/bg.jpg') center center / cover no-repeat;
}

.section {
  &-title {
    line-height: 34px;
  }
}

.form {
  $block: &;

  &-wrap {
    &--text,
    &--number,
    &--textarea {
      width: 300px;
    }
  }

  &-input,
  &-btn {
    border-radius: 5px;
    @include padding('* 17px');
  }

  &-legend {
    line-height: 34px;
  }

  &-checked {
    color: $white;
  }

  &-error_wrap {
    height: 20px;
  }

  &-error {
    // @include padding("* 10px");
    color: $red;

    &--required {
      color: $orange;
    }
  }
}

.admin .form-popup {
  @include position('fixed 0 * * *');
  display: block;
  size: 100% 30px;
  color: $white $blue;
}
