.main {
  background: url("../assets/img/bg.jpg") center center / cover no-repeat;
}

.section {
  &-title {
    line-height: 34px;
  }
}

.form {
  &-input,
  &-btn {
    border-radius: 5px;
    @include padding("* 17px");
  }

  &-legend {
    line-height: 34px;
  }

  &-error {
    @include padding("* 10px");
    color: $red;

    &--required {
      color: $orange;
    }
  }
}
