body {
  background-color: $white;
}

.main {
  background: url('../assets/img/bg.jpg') center center / cover no-repeat;
}

.section {
  &-title {
    line-height: 34px;
  }
}

.form {
  $block: &;

  &#{$block}--admin {
    #{$block}-wrap {
      &--text,
      &--number,
      &--textarea {
        width: 300px;
      }
    }

    #{$block}-input,
    #{$block}-btn {
      border-radius: 5px;
      @include padding('* 17px');
    }

    #{$block}-legend {
      line-height: 34px;
    }

    #{$block}-checked {
      color: $white;
    }

    #{$block}-error {
      // @include padding("* 10px");
      color: $red;

      &--required {
        color: $orange;
      }
    }
  }
}

.admin .form-popup {
  @include position('fixed 0 * * *');
  display: block;
  size: 100% 30px;
  color: $white $blue;
}
