$reserveFonts: Arial, Helvetica, sans-serif;
$mainFont: 'Roboto', $reserveFonts;
$sectionTitleFont: SansusWebissimo, $mainFont;

$trsTime: 1s;

$white: #fff;

$darkWhite: #faf8f0;
$grey: #474b57;

$black: #000;

$red: #e44845;
$orange: darkorange;
$blue: #0548be;
$darkBlue: #083c96;

// $cornerBorderHeight: 5.026929982046679vh;
$cornerBorderHeight: 28px;

$titleClass: '.section-title';
$headerMenuClass: '.header-menu';
$footerBottomSeparator: '\00A0|\00A0';

$zMax: 1000000;
$zSuper: 10000000;
$zSuperSuper: 100000000;
