doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title #{title}

    //- link(rel='stylesheet' href='/styles/main.min.css')
  body
    .wrapper
      h1= message
      h2= error.status
      pre #{error.stack}
    //- script(src='/scripts/main.bundle.js')
