// ABOUT

.about {
  // height: 854px;

  &-container {
    padding-bottom: 42px;
  }

  &-title_wrap {
    // @include padding("20px * 34px");
    padding-bottom: 41px;
  }

  // &-img_wrap {
  //   height: 416px;
  // }

  &-text_wrap {
    padding-top: 19px;
  }

  &-desc {
    $elem: &;

    padding-top: 10px;

    &#{$elem}--first {
      padding-top: 3px;
    }
  }
}

// SKILLS

.skills {
  $circleLength: 283;
  // height: 815px;

  &-container {
    @include padding('20px * 32px');
  }

  &-desc {
    padding: 4px 0 0;
  }

  &-counters {
    $elem: &;

    @include padding('22px * 1px');

    &#{$elem}--first {
      padding-top: 39px;
    }
  }
}

// MAP

.map {
  // height: 906px;
  height: 904px;
}

// CONTACTS

#{$titleClass}.contacts-title {
  // @include padding("23px * 8px");
  font-size: 30px/36px;
}

.contacts {
  $block: &;

  top: 147px;
  width: 348px;
  // height: 374px;

  &-container {
    @include padding('11px 20px 20px');
  }

  &-list {
    padding-top: 10px;
  }

  &-item {
    @include padding('10px *');
  }

  &-icon,
  &-link {
    line-height: 45px;
  }

  &-icon {
    size: 45px;
    font-size: 29px;
  }
}
