.scroll_btn {
  left: 50%;
  z-index: 1;
  color: rgba($white, 0.7);
  text-decoration: none;
  transform: translateX(-50%);

  &:hover {
    color: $white;
  }

  &--to_bottom {
    position: absolute;
    top: 455px;
  }

  &--to_top {
    position: relative;
  }

  &--on_map {
    // @include position("absolute * * 356px *");
    @include position('absolute * * 250px *');
    color: $darkBlue;

    &:hover {
      color: $blue;
    }
  }
}
