.scroll_btn {
  @include position("absolute * * * 50%");
  color: rgba($white, 0.7);
  text-decoration: none;
  transform: translateX(-50%);

  &:hover {
    color: $white;
  }

  &--to_bottom {
    top: 455px;
  }

  &--to_top {
    bottom: 356px;
  }
}
