.title_wrap {
  $block: &;

  position: relative;
  padding-top: 20px;
  width: 100%;

  &-bg {
    $elem: &;

    @include position('absolute 0 * * 0');
    size: 100%;
    opacity: 0.15;

    &#{$elem}--contrast {
      display: none;
      opacity: 0.1;

      circle {
        fill: #3552ce;
      }
    }
  }

  #{$titleClass}#{$block}-title {
    position: relative;
    z-index: 1;
    padding-top: 0;
  }
}
