.bottom_wrap {
  $block: &;

  position: relative;

  &#{$block}--map_wrap {
    position: relative;
  }

  &#{$block}--bg {
    padding-bottom: 97px;
    background: transparent;
    // height: 1478px;
  }
}
