
head

  meta(charset="UTF-8")
  meta(content="width=device-width, initial-scale=1" name="viewport")

  title LoftSchool - #{page.title}

  link(rel="shortcut icon" href="img/favicon.png" type="image/png")
  link(rel="stylesheet" href="css/style.min.css")

  //- script(src="js/libs/html5shiv/dist/html5shiv.min.js")
  //- script(src="js/libs/respond/dest/respond.min.js")
