.footer {
  &_top {
    // height: 192px;

    &-desc {
      @include padding("23px * 0");

      &:after {
        display: block;
        border-bottom: 1px solid rgba($white, 0.2);
        size: 100% 14px;
        content: "";
      }
    }

    &-nav {
      padding-left: 0;

      &:before,
      &:after {
        border-color: rgba($white, 0);
      }

      &:before {
        height: 12px;
      }

      &:after {
        height: 13px;
      }
    }

    &-menu,
    &-socials {
      @include margin("* -12px");
    }

    &-menu {
      display: block;

      .menu-link {
        @include padding("* 15px");
      }
    }

    &-socials {
      justify-content: flex-start;
      @include margin("* -12px");
    }

    &-contacts {
      &_list {
        @include padding("13px * 21px");
      }
      &_link {
        text-align: right;
      }
    }
  }

  &_bottom {
    // height: 38px;
    padding-bottom: 9px;

    &-author {
      width: auto;
    }

    &-desc {
      &:before {
        content: $footerBottomSeparator;
      }
    }

    &--bg {
      background-color: rgba(#083c96, 0.85);
    }
  }
}
