
// footer_bottom

ul.section(class=({"footer_bottom": true, "footer_bottom-bg": page.content}))
  li.container.footer_bottom__container

    p.section__desc.footer_bottom__col.footer_bottom__author &copy; Банников Андрей
    p.section__desc.footer_bottom__col.footer_bottom__desc Создаю с любовью в LoftSchool
    p.section__desc.footer_bottom__col.footer_bottom__date 2018
