// @media only screen and (min-width: 768px) {
@include md {
  .section {
    &-title {
      $elem: &;

      font-size: 30px/36px;

      // &#{$elem}--uppercase {
      //   font-size: 30px/36px;
      // }

      &#{$elem}--large {
        font-size: 49px/56px;
      }

      &#{$elem}--underlined {
        &:after {
          width: 88px;
        }
      }
    }
  }

  @include container(768, 12, "tb");

  .container {
    $elem: ".col";

    .col {
      @include padding("* 12px");

      &#{$elem} {
        &--float,
        &--tb_float {
          float: left;
        }

        &--center,
        &--tb_center {
          @include margin("* auto");
        }
      }
    }
  }

  .btn,
  .form-input {
    font-size: 16px;
  }

  .btn,
  .form-row.form-row--text_wrap {
    @include oneLineBlock(45px);
  }

  .authorization {
    top: 20px;
    right: 20px;
    @include padding("* 30px");
    // @include oneLineBlock(45px, 1px);
    transform: none;
  }

  #{$titleClass}.login_form-title {
    // @include padding("37px * 34px");
    padding-bottom: 34px;
    // font-size: inherit;
  }

  .btn,
  .login_form-text_input .form-input {
    line-height: 43px;
  }

  .login_form {
    &-top_wrap {
      padding-top: 15px;
    }
  }
}
