.bottom_wrap {
  $block: &;

  &#{$block}-map_wrap {
    position: relative;
  }

  &#{$block}-bg {
    height: 1478px;
    background: #110d14 url(/assets/img/bottom.jpg) center top no-repeat;
    background-size: cover;
  }
}
