body {
  background-color: #223b65;
}

.flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }
}

.section {
  &-title {
    line-height: 28px;
  }
}

.form {
  $block: &;

  &-wrap,
  &-input {
    @include padding('* 20px');
  }

  &-wrap {
    margin-bottom: 20px;

    &:after {
      display: block;
      size: 100% 0;
      clear: both;
      content: '';
    }
  }

  &-error {
    $top: 8px;
    $corner: $top + 1px;

    &_wrap {
      position: absolute;
      transition: all 0.5s;
    }

    &_tip_wrap {
      position: relative;

      &:before {
        display: block;
        @include position('absolute 0 * * 50%');
        z-index: 1;
        @include border(
          '* #{$corner} #{$top} #{$corner} / * solid solid solid / * transparent #{$red} transparent'
        );
        transform: translateX(-50%);
        content: '';
      }
    }

    & {
      @include position('absolute #{$top} * * 50%');
      z-index: 1;
      border-radius: 5px;
      @include padding('21px 17px');
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: $white $red;
      transform: translateX(-50%);

      &--required {
        background-color: $orange;
      }
    }
  }

  &-legend {
    margin-bottom: 7px;
    font-weight: bold;
    text-align: center;
  }
}
