.header {
  $block: &;

  &-container {
    $elem: &;

    &#{$elem}--framed {
      width: 348px;
    }
  }

  &-title {
    $elem: &;

    padding-top: 14px;

    &#{$elem}--medium {
      padding-top: 25px;
      font-size: 35px;
    }

    &#{$elem}--large {
      padding-top: 19px;
      // font-size: 49px;
    }
  }

  &-desc,
  &-desc#{$block}-desc--after_large_title {
    padding-top: 2px;
  }

  &-desc {
    $elem: &;

    // padding-top: 2px;
    font-size: 16px;

    &#{$elem}--after_medium_title {
      padding-top: 4px;
    }

    &#{$elem}--after_large_title {
      // padding-top: 2px;
      font-size: 14px;
    }
  }

  &-nav {
    $elem: &;

    &#{$elem}--fixed {
      // left: 50%;
      @include padding('* 19px');
      // width: 768px;
      // transform: translateX(-50%);
    }
  }

  &-socials {
    $elem: &;

    padding-bottom: 12px;

    &#{$elem}--left {
      .socials-link {
        size: 55px 86px;
        font-size: 28px/86px;
      }
    }
  }

  &-menu {
    $elem: &;

    // &#{$elem}--float {
    //   padding-top: 7px;
    // }

    &#{$elem}--absolute {
      padding-top: 178px;

      .menu-link {
        padding-bottom: 57px;

        &:after {
          size: 89px 19px;
          // border-bottom-width: 4px;
        }
      }
    }
  }

  &-menu_checker {
    $elem: &;

    top: 16px;
    // @include padding("12px *");
    @include margin('12px *');
    width: 35px;

    &_line {
      border-radius: 2px;
      border-top-width: 4px;
      transform-origin: 2px 2px;

      &:nth-child(2) {
        @include margin('11px *');
      }
    }

    &#{$elem}--close {
      #{$elem}_line {
        &:first-child,
        &:last-child {
          width: 135%;
        }
      }
    }
  }

  // &#{$block}--framed {
  //   @include padding("275px * *");
  // }

  &#{$block}--wide {
    height: 504px;

    // #{$block} {
    //   &-title {
    //     padding-top: 29px;
    //     font-size: 35px;
    //   }

    //   &-desc {
    //     padding-top: 8px;
    //     font-size: 16px;
    //   }
    // }
  }
}
