.parallax_mirror {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $black;
  background-size: cover;

  &-img {
    position: relative;
    size: 100%;
    background: url(../../../assets/img/bottom.jpg) fixed no-repeat right center;
    background-size: cover;
  }
}
