extends ../layouts/full
block variables

  -
    var page = {
      name: 'blog',
      title: 'Блог',
      content: true,
      sections: 2
    }

block content

  //- top_wrap

  .section.top_wrap
    .top_wrap__corner_border.top_wrap__corner_border-beige

    aside.tabs
      #scroll_menu.container.tabs__container
        a.tabs__link.tabs__link-active(href="#") Самое важное в SASS
        a.tabs__link(href="#") Самый необходимый набор Gulp плагинов
        a.tabs__link(href="#") Почему я выбрал Jade
        a.tabs__link(href="#") Пост 4
        a.tabs__link(href="#") Пост 5
        a.tabs__link(href="#") Пост 6
        a.tabs__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт

    main.section.blog
      .container.blog__container

        each post in posts

          article.blog__post
            
            h3.section__title.blog__title= post.title

            span.blog__date= post.date

            p= post.body

            //- .code
            //-   ol.code__list
            //-     -
            //-       var code_list = [
            //-         '// присвоить',
            //-         '$(document).data(\'prop\', { anything: "любой объект" })',
            //-         '',
            //-         '// прочитать',
            //-         'alert( $(document).data(\'prop\', { anything: "любой объект" }) )'
            //-       ]
            //-     each item in code_list
            //-       li.clearfix.code__item
            //-         code.code__text= item

            //- img(width="300" height="104" src="userfiles/code.jpg" alt="" style="display: block; width: 300px; height: 104px;")

          .blog__separator

        //- post 1

        //- article.blog__post
          
        //-   h3.section__title.blog__title Приёмы в вёрстке, без которых не обходится ни один сайт

        //-   span.blog__date 13 ноября 2016

        //-   p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
        //-   p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        //- .blog__separator

        //- post 3

        //- article.blog__post
          
        //-   h3.section__title.blog__title Самый необходимый набор Gulp плагинов

        //-   span.blog__date 27 ноября 2016

        //-   p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свой что страну домах вопроса свое, однажды. Использовало прямо, языкового, деревни собрал снова курсивных знаках строчка моей толку вопрос послушавшись!
        //-   p Домах, это которой маленькая, дал по всей маленький встретил жизни но алфавит оксмокс, своего текст грустный сих страна запятых моей проектах вопрос строчка живет не реторический семь они текстами. Они, снова.
        //-   p Залетают, рукопись мир переулка не предупреждал строчка до имени точках заглавных, напоивший своих однажды. Однажды раз путь рукописи строчка путь несколько его, страна осталось дороге первую которой, рыбными языкового безорфографичный?
        //-   p Большого свою предупреждал, жаренные океана он строчка которое что, текст моей вершину своих рыбными. Ведущими эта, коварных пояс. Домах страну вопрос букв дорогу над рыбными образ если всемогущая бросил но.
        //-   p Предложения буквоград вопроса коварных приставка рот языком пунктуация домах, рыбными то рукописи они грамматики прямо, страну о lorem. Домах, предложения, моей. Взгляд подзаголовок lorem предложения возвращайся. Обеспечивает, своего! Встретил, продолжил!
        //-   p Но, подзаголовок от всех имеет путь решила даль. Вдали свой залетают заголовок бросил буквенных заглавных? О собрал пунктуация текст ты родного силуэт снова даль языкового одна назад снова гор, предложения, реторический.
        //-   p Рукописи обеспечивает сбить ее эта послушавшись пояс переулка живет дороге несколько предупредила снова родного не назад, даль на берегу его моей имени грустный. Подзаголовок даже текст буквенных, назад точках они переписывается!
        //-   p Пустился свой семь города, если маленький моей обеспечивает журчит вопрос большой домах текстами от всех буквенных ему вопроса всеми жизни заголовок ты предупредила последний речью, там правилами предупреждал семантика себя. Заглавных!
        //-   p Алфавит вдали текстов коварный своего рыбного это выйти составитель, образ, он большой щеке семь но страну за если напоивший толку несколько языкового пояс взобравшись что над жизни безорфографичный страна. Осталось!
        //-   p Предупредила эта коварных то взгляд свой возвращайся реторический алфавит запятой переулка. Всеми маленький, составитель буквоград возвращайся сих переписали лучше, коварный свою до, взгляд рыбными агенство щеке ее снова своего своих.
        //-   p Правилами залетают переписали свое lorem семантика, великий пунктуация то текст эта ipsum рот меня букв пояс, выйти о, гор однажды силуэт! Родного залетают, силуэт знаках текста строчка его, грамматики пунктуация!
        //-   p Ручеек снова необходимыми, послушавшись, по всей решила жизни, эта ipsum страна прямо снова сбить мир предупредила, пунктуация. Курсивных его что заглавных домах мир грустный страна буквенных обеспечивает, взгляд заманивший большой, коварных.
        //-   p Свою текстов то своих если, назад маленькая, живет использовало, семантика вершину всемогущая сих вопрос жизни оксмокс несколько? Несколько снова они над, решила она бросил, ipsum гор залетают, раз агенство даль!
        //-   p От всех наш щеке однажды курсивных рот ручеек, рыбного инициал то напоивший города решила, путь рекламных дорогу возвращайся продолжил использовало рыбными дороге это своих семь, по всей букв? Всеми если приставка составитель.
        //-   p Страна однажды пояс не которой оксмокс, своего лучше скатился он ведущими выйти решила домах путь если языком рукописи силуэт текстов повстречался безорфографичный речью предложения послушавшись они переулка переписывается? Ему, пояс.
        //-   p Но заманивший ты все, страну дорогу пустился моей о вдали рыбного гор приставка, имени, коварный мир предупреждал алфавит дороге по всей вопрос продолжил страна! Власти, своего эта деревни взобравшись языком мир!
        //-   p Большого языкового злых, грустный переписали подзаголовок рыбными свою там букв курсивных? Повстречался обеспечивает заглавных рот свой деревни родного снова диких запятых вопроса живет, дал, текст продолжил рыбного, всеми, ему взгляд.
        //-   p За лучше бросил по всей курсивных свое своих запятых, даль ведущими подзаголовок заманивший всемогущая переписали ему жаренные, текстов деревни языкового взобравшись, вопрос родного пустился однажды предложения себя, букв семантика. Агенство, путь?
        //-   p Свой диких свое переписывается даже знаках толку, своих встретил от всех предупредила использовало образ лучше рукописи, о это повстречался ведущими предупреждал. Дал лучше lorem языкового вопрос которое текста журчит, своих предупреждал.
        //-   p Алфавит коварных пор до рукописи меня диких прямо пустился которое переулка парадигматическая необходимыми, жизни свой напоивший? Вдали ему использовало эта вскоре свой грамматики власти. Несколько однажды даль строчка, коварных безорфографичный.

        //- .blog__separator

        //- //- post 4

        //- article.blog__post
          
        //-   h3.section__title.blog__title Пост 4

        //-   span.blog__date 27 ноября 2016

        //-   p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Правилами, путь коварный составитель мир своего вопрос но имени текстами. Подпоясал они ему маленькая эта о, правилами до запятых там.
        //-   p Собрал дал ему себя не, необходимыми строчка выйти имеет вскоре. Строчка меня точках, власти сбить рукопись родного текст грустный рыбного, раз вдали вскоре, алфавит текстами запятых коварных приставка снова дорогу!
        //-   p Скатился то имени диких дал, мир необходимыми свое не агенство своих вопрос залетают которое свой своего проектах он семантика напоивший последний знаках лучше ведущими. Безопасную однажды имени продолжил лучше свой.
        //-   p Буквоград пояс на берегу взобравшись по всей города, послушавшись вершину текстами предупреждал, лучше взгляд гор пор прямо, но о дал правилами великий, алфавит путь там скатился оксмокс что! Безопасную инициал путь заманивший!
        //-   p Не дороге свой, вопрос дал эта алфавит силуэт заглавных жаренные. Свой коварный снова меня живет семантика заголовок единственное большой силуэт однажды, залетают жизни даль всеми запятой которое продолжил. Своих, букв.

        //- .blog__separator

        //- //- post 5

        //- article.blog__post
          
        //-   h3.section__title.blog__title Пост 5

        //-   span.blog__date 27 ноября 2016

        //-   p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Пустился последний диких всеми, рот живет! Вскоре безопасную путь языкового, речью эта рыбными проектах вершину, над, все снова взгляд сих.
        //-   p Правилами над власти даль точках вскоре щеке семантика мир, на берегу переписывается курсивных не подпоясал раз дал рыбного маленький журчит, грамматики, запятых использовало однажды снова путь переулка. Свой взобравшись, рыбными повстречался!
        //-   p Букв запятых даже большой переписывается собрал безопасную рукописи, живет дороге, сих предложения над меня подпоясал эта возвращайся рыбными семь силуэт страну свое буквоград инициал знаках свой парадигматическая дорогу своих путь.
        //-   p Букв запятых даже большой переписывается собрал безопасную рукописи, живет дороге, сих предложения над меня подпоясал эта возвращайся рыбными семь силуэт страну свое буквоград инициал знаках свой парадигматическая дорогу своих путь.
        //-   p Букв запятых даже большой переписывается собрал безопасную рукописи, живет дороге, сих предложения над меня подпоясал эта возвращайся рыбными семь силуэт страну свое буквоград инициал знаках свой парадигматическая дорогу своих путь.

        //- .blog__separator

        //- //- post 6

        //- article.blog__post
          
        //-   h3.section__title.blog__title Пост 6

        //-   span.blog__date 27 ноября 2016

        //-   p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. По всей, эта, пустился. Грамматики то деревни, толку возвращайся одна букв. Журчит, осталось деревни своего по всей свое несколько реторический раз одна!

        //- .blog__separator

        //- //- post 7

        //- article.blog__post
          
        //-   h3.section__title.blog__title Приёмы в вёрстке, без которых не обходится ни один сайт

        //-   span.blog__date 27 ноября 2016

        //-   p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Лучше дороге lorem напоивший вопроса предложения единственное семантика он, ты они, ему себя рыбного, знаках там сих бросил до последний?
        //-   p Взгляд вдали живет решила наш, текстами языком лучше от всех встретил но, даль которой она, заголовок пустился они! Власти коварный буквенных, коварных предложения продолжил заглавных послушавшись он запятой. Деревни, букв, коварных.
        //-   p Там текстами переписали меня маленький лучше она гор своего последний если ее, рыбного живет повстречался вскоре проектах он безопасную пунктуация власти предложения свое прямо. Она всемогущая рот, текста снова силуэт.
        //-   p Гор одна снова, взобравшись вершину напоивший рукопись решила курсивных ведущими ему образ живет диких но рыбного безорфографичный о дал, пор, строчка ты языкового лучше жаренные коварный! Бросил своих, если предупредила.
        //-   p Однажды, страна семь злых, жаренные переулка, продолжил последний гор они, за решила его залетают рекламных. Встретил моей переписывается то его проектах, гор, страна грустный решила даже маленький заглавных языкового напоивший.
